@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0px;
    height: 100%;
  }
  
  #app {
    min-height: 100vh;
  }
}
