version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lesprivate-homepage
    ports:
      - "3000:80"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    networks:
      - lesprivate-prod-network

networks:
  lesprivate-prod-network:
    driver: bridge
